
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Syne:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #0F0E10;
}

.navSection{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 25px 10%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    position: fixed;
    margin-bottom: 50px;
    z-index: 3;
    background-color: #0F0E10;
}

.navSection img{
    width: 100px;
    cursor: pointer;
}

.navSectionUl{
    display: flex;
    gap: 50px;
    color: white;
}

.navSectionUl li{
    list-style: none;
    cursor: pointer;
    color: white;
}


.closebtn, .openbtn{
    display: none;
}

@media only screen and (min-width:321px) and (max-width:768px){

    .closebtn{
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 25px;
        display: block;
        color: white;
    }


    .openbtn{
        font-size: 25px;
        top: 20px;
        display: block;
        position: absolute;
        right: 30px;
        color: white;
    }


    .navSection{
        margin-bottom: 50px;
    }

    .navSectionUl{
        background-color:#0F0E10 ;
        color: var(--white-color);
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 80px;
        left: -100%;
        bottom: 0;
        padding-left: 30px;
        padding-top: 60px;
    }

    .navSectionUl li{
        padding-bottom: 20px;
    }


    .open{
        left: 0;
        transition: all 0.5s ease;
    }

    .close{
        left: -100%;
        transition: all 0.5s ease;
    }

}



/* ======================= Home ================= */
.homeSection{
    padding: 200px 10%;
    padding-bottom: 100px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:start;
    gap: 100px;
}

.homeSection h2{
    font-size: 60px;
    color: white;
    line-height: 90px;
    padding-top: 80px;
}

.homeSection span{
    background: linear-gradient(to right, #7272BE, #00ff00); /* Define your gradient colors here */
    -webkit-background-clip: text; 
    color: transparent; 
    text-fill-color: transparent; 
    font-weight: bold;
}

.homeSection h3{
    font-size: 20px;
    color: white;
    padding-top: 10px;
    font-weight: 400;
}

.homeSection p{
    font-weight: 300;
    color: white;
    padding-top: 15px;
}



.homeSection button{
    font-size: 15px;
    padding: 15px 40px;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 40px;
    background: linear-gradient(to right, #20cbbf, #7272BE);
    cursor: pointer;
}

.handSec img{
    width: 100%;
    animation: bounce 2s infinite;
    animation-timing-function: ease; 
}


@keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* Initial and final position */
    }
    50% {
      transform: translateY(-20px); /* Bounce height */
    }
}


@media only screen and (min-width:321px) and (max-width:768px){
    .homeSection{
        padding: 70px 7%;
        padding-bottom: 50px;
        grid-template-columns: 1fr;
    }


    .homeSection h2{
        font-size: 38px;
        color: white;
        line-height: 50px;
    }

    .homeSection h3{
        font-size: 15px;
    }

    .homeSection p{
        font-size: 12px;
    }

    .handSec img{
        width: 100%;
        animation: bounce 2s infinite;
        animation-timing-function: ease; 
        margin-top: 50px;
    }


    @keyframes bounce {
        0%, 100% {
          transform: translateY(0); /* Initial and final position */
        }
        50% {
          transform: translateY(-5px); /* Bounce height */
        }
    }
    
}

  /* ========================== howWorkDiv ====================== */
  
.howWorkSec{
    padding: 50px 7%;
    background-color: #2e2d2f;
}


.howWorkSec h1{
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
    font-weight: 500;
}
.howWorkDiv{
    display: flex;
    gap: 30px;
}


.howWorkDiv h2{
    font-weight: 400;
    padding-bottom: 10px;
}
.howWork{
    width: 100%;
    padding: 30px;
    color: white;
    border-radius: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    border: #7272BE solid 1px;
}

.howWork img{
    width: 100px;
    height: 80px;
}

.goal{
    padding: 80px 7%;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;

}

.goal h2{
    width: 50%;
    margin: auto;
    font-size: 30px;
}

.goal button{
    font-size: 15px;
    padding: 15px 40px;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    background: linear-gradient(to right, #20cbbf, #7272BE);
    cursor: pointer;
}


.icons {
    padding: 50px 0;
    text-align: center;
    display: flex;
    gap: 50px;
    margin: auto;
    justify-content: center;
}

.icons .uil{
    font-size: 30px;
    color: white;
    text-align: center
}

@media only screen and (min-width:321px) and (max-width:768px){
    .howWorkDiv{
        display: block;
    }


    .howWork{
        width: 100%;
        padding: 20px;
        color: white;
        border-radius: 10px;
        display: flex;
        gap: 20px;
        align-items: center;
        border: #7272BE solid 1px;
        margin-bottom: 30px;
    }
    

    .howWork h2{
        font-size: 16px;
    }

    .howWork p{
        font-size: 12px;
    }

    .howWork img{
        width:50px;
        height: 30px;
    }


    .goal{
        padding: 80px 7%;

    
    }
    
    .goal h2{
        width: 100%;
        margin: auto;
        font-size: 16px;
        font-weight: 500;
    }
    
    .goal button{
        font-size: 15px;
        padding: 15px 40px;
        color: white;
        border: none;
        border-radius: 20px;
        margin-top: 20px;
        background: linear-gradient(to right, #20cbbf, #7272BE);
        cursor: pointer;
    }

}
